body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.logo {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.logo img{
  width: 100%;
  margin: 4px;
}

.search {
  width: 750px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border: solid 1px;
  border-radius: 10px;
}

.inputSearch {
  height: 100%;
  display: flex;
}

.inputSearch input{
  box-sizing: border-box;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
  font-size: 25px;
  border-radius: 10px;
  border: solid 1px;
  background-color: whitesmoke;
  margin-left: 5px;
}

.menuFilter {
  display: flex;
  padding: 0px;
  margin: 0px;
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
}

.menuFilter li{
  float: left;
  list-style: none;
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}

.menuFilterUnderLine {
  text-decoration: underline;
}

.boxChamp {
  width: 300px;
  margin: 10px;
}

.boxChamp img{
  max-width: 100%;
  border-radius: 10px;
}

.container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.champName {
  font-weight: bolder;
  text-align: center;
  margin: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.passiveSpellsVideoContainer {
  overflow: auto;
  position: relative;
  width: 100%;
  display: flex;
}

.championContainer {
  width: 100%;
}

.imgChampion {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.imgChampion img {
  max-width: 100%;
}

.championTitles {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
}

.championTitle {
  font-size: 40px;
}

.championName {
  font-size: 30px;
}

.spellContainer {
  width: 90%;
  clear: both;
  margin: 40px;
  padding: 10px;
  border: solid 2px rgb(160, 158, 158);
  position: relative;
  overflow: hidden;
  display: flex;
  cursor: pointer;
}

.spellContainerGold {
  width: 90%;
  clear: both;
  margin: 40px;
  padding: 10px;
  border: solid 2px black;
  position: relative;
  overflow: hidden;
  display: flex;
  cursor: pointer;
}

.spellName {
  text-align: center;
  float: left;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  width: 200px;
}

.spellDescription {
  float: left;
  margin-left: 20px;
  width: 500px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: justify;
}

.spellImg {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  width: 70px;
  height: 70px;
  display: flex;
}

.spellImg img {
  margin: auto;
  display: block;
}

.spellsAndPassive {
  float: left;
  width: 50%;
}

.videosContainer {
  display: flex;
  float: left;
  width: 50%;
}

.videos {
  width: 500px;
  margin: auto;
  display: flex;
  border: solid 4px black;
  padding: 2px;
}

.videos video {
  max-width: 100%;
}

.provaLink a, a:visited, a:hover, a.active{
  color: inherit;
}
