body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cornflowerblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  width: 100%;
  height: 100px;
}

.search {
  width: 700px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.search input{
  box-sizing: border-box;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
  font-size: 25px;
}

.boxChamp {
  width: 300px;
  margin: 10px;
}

.boxChamp img{
  max-width: 100%;
}

.container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.champName {
  font-weight: bolder;
  text-align: center;
  margin: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.championContainer {
  width: 100%;
}

.imgChampion {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.imgChampion img {
  max-width: 100%;
}

.championTitles {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
}

.championTitle {
  font-size: 40px;
}

.championName {
  font-size: 30px;
}
